footer{
    width: 100%;
    height:98px;
    background: #182035;
    margin-top: 220px;
    line-height: 98px;
    p{
        font-family: $title-font;
        color: $text-color;
        font-size: 16px; 
        text-align: center;
        span a{
            font-family: $title-font;
            color: #6F338C !important;
            font-size: 16px;
        }
    }
}

.left{
    float:left;
   
}

.right{
    float: right;
    
    .fa {
        color: $text-color;
        font-size: 20px;
        
    }
    .fa:hover{
        color:#6F338C;
        -webkit-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        -o-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }
}