//    Font Family

$title-font	: 'Poppins';

$text-font	: 'Roboto';


$primary-color	: #1B243B;
$text-color     : #7C80BE;
$title-color	: #2A3759;
$icon-color     : #D248F0;
$white			: #FFFFFF;
$dark			: #000;
$hover-shadow   : 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
